# The directory Mix will write compiled artifacts to.
/myapp/_build/

# If you run "mix test --cover", coverage assets end up here.
/myapp/cover/

# The directory Mix downloads your dependencies sources to.
/myapp/deps/

# Where 3rd-party dependencies like ExDoc output generated docs.
/myapp/doc/

# Ignore .fetch files in case you like to edit your project deps locally.
/myapp/.fetch

# If the VM crashes, it generates a dump, let's ignore it too.
/myapp/erl_crash.dump

# Also ignore archive artifacts (built via "mix archive.build").
*.ez

# Temporary files, for example, from tests.
/myapp/tmp/

# Ignore package tarball (built via "mix hex.build").
myapp-*.tar

# Ignore assets that are produced by build tools.
/myapp/priv/static/assets/

# Ignore digested assets cache.
/myapp/priv/static/cache_manifest.json

# In case you use Node.js/npm, you want to ignore these.
npm-debug.log
/myapp/assets/node_modules/

/myapp/cypress/node_modules/

